html, body {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 24px;
	font-size: 2vw;
	/*color: #333;
	background-color: #FF0;*/
}

table, tbody, tr {
    width: 100%;
}

tr {
    height: 2.5rem;
}

tr:hover {
    background-color: #EEE;
}

.nam {
    width: 5%;
}

.gain {
    width: 10%;
    text-align: right;
}

.np {
    width: 30%;
    text-align: right;
}

.nv {
    width: 45%;
    text-align: center;
}

.pct {
    width: 10%;
    text-align: right;
}

.go {
    color: #0C0;
}

.warm {
    color: #F91;
}

.stop {
    color: #F00;
}

.refresh {
	height: 2rem;
	cursor: pointer;
	margin: 2rem;
	border: 0.2rem solid #000;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	line-height: 2;
	text-align: center;
}
